
<style>
    .servo {
        margin-block: 10px;
    }
    .result-text {
        margin-left: 10px;
        font-size: 1rem;
    }
    .danger {
        color: red;
    }
    .success {
        color: green;
    }
    #servos {
        width: 50%;
    }
    #poses {
        width: 50%;
    }
    #trajectory {
        width: 50%;
    }
    .row {
        display: flex;
    }
    .row > div, #states {
        border: 1px solid;
        padding: 10px;
    }
    .servo-range {
        margin-left: 80px;
        width: 360px;
    }
</style>
<div class="row">
    <div id="servos">
        <h1>Настройка вручную</h1>
    </div>
    <div id="poses">
        <h1>Готовые позиции</h1>
        <button class="pose-btn secondary-btn" data-pose="0">
            <h3 class="no-margin">Стандартная</h3>
            <img src="/static/images/poses/standart.png">
        </button>
        <button class="pose-btn secondary-btn" data-pose="1">
            <h3 class="no-margin">Змейка</h3>
            <img src="/static/images/poses/snake.png">
        </button>
        <button class="pose-btn secondary-btn" data-pose="2">
            <h3 class="no-margin">Зиг-заг</h3>
            <img src="/static/images/poses/zigzag.png">
        </button>
        <button class="pose-btn secondary-btn" data-pose="3">
            <h3 class="no-margin">Наклон</h3>
            <img src="/static/images/poses/lay.png">
        </button>
        <br>
        <span class="result-text-pose"></span>
    </div>
</div>
<div class="row">
    <div id="trajectory">
        <h1>Построение траектории</h1>
        <input type="file" id="trajectory-file">
        <button type="button" class="form-btn trajectory-btn">Отправить</button>
        <span class="result-text-trajectory"></span>
    </div>
    <div style="width: 50%; border: none !important;"></div>
</div>
<script>
    var servoForms = {
        servoCount: 6,
        servoMax: 180,
        servoMin: -180,
        init: function() {
            var self = this;

            for (var i = 0; i < this.servoCount; i++) {
                var label = 'Servo ' + (i + 1);
                var name = 'servo' + (i + 1);

                var html = '<div class="' + name + ' servo">';
                html += '<label class="form-label">' + label + '</label>';
                html += '<input type="number" max="180" min="-180" class="form-input servo-input" name="' + name + '"/>';
                html += '<button type="button" class="form-btn servo-btn" data-input="' + name + '">Отправить</button>';
                html += '<input type="range" max="180" min="-180" step="1" class="servo-range" name="' + name + '"/>';
                html += '<span class="result-text" data-servo="' + name + '"></span>';
                html += '</div>';

                $('#servos').append(html);
            }

            $(document).on('click', '.servo-btn', function() {
                var name = $(this).attr('data-input');
                var resultSpan = $('.result-text[data-servo=' + name + ']');
                var input = $('input.servo-input[name=' + name + ']');
                var val = input.val();

                self.clearResult(resultSpan);
                
                if (val && isFinite(val) && val >= self.servoMin && val <= self.servoMax) {
                    $.ajax({
                        method: 'POST',
                        url: '/servo',
                        data: JSON.stringify({angle: val, servo: name.replace('servo', '')}),
                        contentType: 'application/json',
                        success: function(res) {
                            if (res.status == 'ok') {
                                self.showResult(resultSpan, res.response, true);
                            }
                        },
                        error: function(res) {
                            self.showResult(resultSpan, res.responseText, false);
                        }
                    });
                } else {
                    self.showResult(resultSpan, 'Неверное число. Число должно быть в дипаозоне [' + self.servoMin + '; ' + self.servoMax + ']', false);
                }
            });

            $(document).on('click', '.pose-btn', function() {
                var val = $(this).attr('data-pose');
                var servo6 = $('input.servo-input[name=servo6]').val();
                var resultSpan = $('.result-text-pose');

                if (servo6 !== 0 && !servo6) {
                    servo6 = '90';
                }

                self.clearResult(resultSpan);

                $.ajax({
                        method: 'POST',
                        url: '/pose',
                        data: JSON.stringify({pose: val, servo6: servo6}),
                        contentType: 'application/json',
                        success: function(res) {
                            if (res.status == 'ok') {
                                self.showResult(resultSpan, 'Success', true);
                                var servos = JSON.parse(res.response);
                                self.updateInputs(servos);
                            }
                        },
                        error: function(res) {
                            self.showResult(resultSpan, res.responseText, false);
                        }
                    });
            });

            $(document).on('click', '.trajectory-btn', function(){
                var servo6 = $('input.servo-input[name=servo6]').val();

                if (servo6 !== 0 && !servo6) {
                    servo6 = '90';
                }

                var resultSpan = $('.result-text-trajectory');
                var fileInput = $('#trajectory-file');

                if (!fileInput.prop('files')[0]) {
                    self.showResult(resultSpan, 'Upload file to apply!', false);
                    return;
                }

                var form = new FormData;

                form.append('trajectory', fileInput.prop('files')[0]);
                form.append('servo6', servo6);

                $.ajax({
                    url: '/trajectory',
                    data: form,
                    processData: false,
                    contentType: false,
                    type: 'POST',
                    success: function (res) {
                        if (res.status == 'ok') {
                            self.showResult(resultSpan, 'Success', true);
                            var servos = JSON.parse(res.response);
                            self.updateInputs(servos);
                        }
                    },
                    error: function(res) {
                        self.showResult(resultSpan, res.responseText, false);
                    }
                });
            });

            $(document).on('input', '.servo-range', function() {
                var val = $(this).val();
                var name = $(this).attr('name');
                $('input.servo-input[name=' + name + ']').val(val);
                $('.servo-btn[data-input=' + name + ']').trigger('click');
            });

            $(document).on('input', '.servo-input', function() {
                var val = $(this).val();
                var name = $(this).attr('name');
                $('input.servo-range[name=' + name + ']').val(val);
            });
        },
        showResult: function(resultSpan, text, isSuccess) {
            resultSpan.html(text);

            if (!isSuccess) {
                resultSpan.addClass('danger');
            } else {
                resultSpan.addClass('success');
            }
        },
        clearResult: function(resultSpan) {
            resultSpan.html('');
            resultSpan.removeClass('danger');
            resultSpan.removeClass('success');
        },
        updateInputs: function(servos) {
            for (var i = 0; i < servos.length; i++) {
                var servoIdx = i + 1;
                var val = servos[i];
                $('input.servo-input[name=servo' + servoIdx + ']').val(val);
                $('input.servo-range[name=servo' + servoIdx + ']').val(val);
            }
        }
    }
    $(document).ready(function() {
        servoForms.init();
    });
</script>